
$backgroundColor: linear-gradient(#FF70A6, #FF9770, #FFD670, #E9FF70);
$bottombackgroundColor: linear-gradient(to top, #FF70A6 60%, #FF9770, #FFD670, #E9FF70);
$horizontalBackgroundColor: linear-gradient(to right, #FF70A6, #FF9770, #FFD670, #E9FF70);
$white: #F2F2F2;
$black: #403D39;