@import './config.scss';
@import './mixins.scss';

@media(min-width: 1092px) {
    .container {
        display: grid;
        grid-template-columns: 20% 80%;
    }

    .route-container {
        grid-column: 2/2;
    }

    .mobile-icon {
        display: none;
    }

    .navbar {
        grid-column: 1/1;
        flex-basis: unset;
        width: 15%;
    }

    .navbar > .link {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar > .link:last-child {
        margin-top: -5px;
    }

    .navbar > .link > svg {
        height: 50px;
        width: 100px;
    }

    #login-container > .login-container-image {
        height: 175px;
        width: 175px;
        margin-bottom: -75px;
    }

    #login-container {
        margin-left: 20%;
        margin-right: unset;
    }
    
    #login-container > .login-header {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 70px;
        color: #ffffff;
        margin-bottom: -10px;
    }
    
    #login-container > .register-container-image {
        height: 150px;
        width: 150px;
        margin-bottom: -75px;
    }
    
    #login-container > .register-header {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 48px;
        color: #ffffff;
        margin-bottom: -10px;
    }

    #user-avatar {
        padding: 10px;
        height: 25%;
        width: 85%;
        border-radius: 50%;
    }

    .white-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background: $white;
        width: 90%;
        padding: 10px;
    }

    .white-subcontainer {
        display: flex;
        align-items: center;
        background: $white;
        border: 1px solid $white;
        height: 20px;
        margin-bottom: 10px;
    }

    .search-container {
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
        width: 80%;
    }

    .search-subcontainer {
        width: 100%;
    }

    .search-subcontainer > .search-input {
        border-radius: unset;
        width: 80%;
    }

    .search-subcontainer > .search-input::placeholder {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-size: 14px;
    }

    .checkbox-div {
        margin-left: -20px;
        width: 20%;
    }

    .checkbox-div > label {
        width: 80%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }

    .checkbox-div > #my-posts-checkbox {
        width: 10%;
        height: unset;
    }

}
