@import './config.scss';
@import './mixins.scss';

.mobile-icon {
    margin-left: auto;
    margin-right: auto;
    height: 60px !important;
    width: 60px !important; 
}


.navbar {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 75%;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: -9px;
    margin-left: -15px;
    background: $backgroundColor;
}

.navbar > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: display 2s ease-out;
}

.navbar > *:first-child {
    margin-bottom: -20px;
}

.navbar > ul > li {
    width: 100%;
    text-align: center;
}

.navbar > ul > li:first-child {
    order: 5;
}

.navbar > ul > li > .link {
    border: solid 2px $white;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
    width: 80%;
    margin: 20px;
}

.navbar > ul > li > .link:hover {
    background: white;
}

.navbar > ul > li >  .link > svg {
    font-size: 30px;
    margin-top: 15px;
}

.navbar > ul > li > .link > .mobile-text {
    font-size: 20px;
}

#user-avatar {
    height: 30px;
    width: 30px;
    border-radius: 10px;
    border: 1px dashed $white;
    order: 6;
}

#login-container {
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    background: $horizontalBackgroundColor;
    box-shadow: 0.25px 0.25 0.25px 0.25px $black;
    padding: 10px;
}

#login-container > .login-container-image {
    height: 75px;
    width: 75px;
}

#login-container > .login-header {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.25px;
    padding-left: 50px;
    align-self: flex-start;
    font-size: 20px;
    font-weight: 800;
}

#login-container > .register-form-label {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 50px;
    align-self: flex-start;
}



.button-group {
    width: 60%;
    display: inherit;
    flex-direction: row;
    padding-bottom: 10px;
    justify-content: space-around;
}

.button-group > .btn {
    padding: 10px;
    font-size: 14px;
}

.new-post-container {
    margin-left: auto;
    margin-right: auto;
    background: $white;
}

.white-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.white-subcontainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}